<h2 class="text-center mb-4 mt-4">Listado de articulos</h2>

<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>

<%# aqui lo renderizamos porque esto lista los articulos, y lo reciclamos con users, para 
que liste sus usuarios igual, solo que como en users es la vista show, en show method de users creamos la instancia articles %>
<%= render 'article' %>

<div class="flickr_pagination mb-5">
  <%= will_paginate @articles, :container => false %>
</div>

<%# le quite las comillas de ruby %>
<%# <table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descripcion</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
     @articles.each do |article| 
      <tr>
        <td>   article.title  </td> 
        <td>   article.description  </td>
        <td>   link_to "Mostrar", article_path(article)  | </td>
        <td>   link_to "Editar", edit_article_path(article)  | </td>
        <td>   link_to "Eliminar", article_path(article), method: :delete, data: { confirm: 'Estas seguro?' }   </td>
      </tr>
    < end >
  </tbody>
</table> %>

<%# <p><%= link_to "Crear articulo", new_article_path() %> 