<div>
  <div class="container mb-4">
    <div class="bg-light p-5 rounded-lg text-center fondo text-white text-bold mt-4">
      <h1 class="display-4">Alpha Blog</h1>
      <p class="lead">Este es un proyecto en el cual se muestran las habilidades aprendidas en un curso de Ruby on Rails, por lo cual no se encuentra terminado ;)</p>
      <hr class="my-4">
      <p>Aun no se ha implementado el codigo para el funcionamiento de este boton de registro.</p>
      <div>
        <%# <a class="btn btn-success btn-lg" href="#" role="button">Registrate!</a>   %>
        <%= link_to "Registrate!", signup_path, class: "btn btn-success btn-lg" %>
      </div>
    </div>
  </div>
</div>
