@import "bootstrap";

// .navbar{
//     background-color: black !important;
// }

.nav-link{
    color: white !important;
}

.navbar-toggler{
    color: #fff;
}
#logo{
    float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.fondo{
    background-image: url(/assets/no.jpg); 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 425px;
}

body {
  margin: 0;
  background-color: #D3D3D3 !important;
  position: relative;
  padding-bottom: 2.5em;
  min-height: 100vh;
}



.footer {
    padding: 1em 0;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.myname:hover{
  color: #4ECDC4 !important;
  transition: all .5s ease;
}

// pagination styling
.flickr_pagination {
    text-align: center;
    padding: 0.3em;
    cursor: default; }
    .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
      padding: 0.2em 0.5em; 
      border-radius: 5px;}
    .flickr_pagination .disabled {
      color: #aaaaaa; }
    .flickr_pagination .current {
      font-style: normal;
      font-weight: bold;
      color: #ff0084; }
    .flickr_pagination a {
      border: 1px solid #F5F5F5;
      color: #F5F5F5;
      text-decoration: none; }
      .flickr_pagination a:hover, .flickr_pagination a:focus {
        border-color:  #808080;
        background: #F5F5F5;
        color: #808080; }
    .flickr_pagination .page_info {
      color: #aaaaaa;
      padding-top: 0.8em; }
    .flickr_pagination .previous_page, .flickr_pagination .next_page {
      border-width: 2px; }
    .flickr_pagination .previous_page {
      margin-right: 1em; }
    .flickr_pagination .next_page {
      margin-left: 1em; }

@media screen and (max-width:500px){
    .fondo{
        height: 475px;
    }
}