<footer class="footer bg-dark py-3 text-center text-white">
  <p class="mb-0">Copyright © <%= link_to "Ivan Vasquez", "https://github.com/IvanVasquez289", class: "text-white text-decoration-none myname" %></p>
</footer>